body {
    margin: 0;
    padding: 0;
}

.header-section {
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.width {
    width: 100%;
    height: 100%;
}

.header-text {
    text-align: center;
    padding: 120px;
    color: #ffffff;
}

.header-text h1 {
    font-size: 70px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.header-text p {
    font-size: 20px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.header-section a {
    background: orange;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}

.header-section a:hover {
    background: rgb(175, 8, 226);
    padding: 10px;
}

.donate-section {
    text-align: center;


}

.donate-section h1 {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;

}

.donate-section p {
    font-size: 20px;
    text-align: center;
    font-family: 'Raleway', sans-serif;

}

/* other-amount-section */
.other-amount-section {
    margin: 5rem;
}

.other-amount-section a {
    text-decoration: none;
    margin-left: 31rem;
    padding: 10px;
    font-size: 31px;
    margin-bottom: 12px;
    border-radius: 5px;
    background-color: orange;

}

.button {
    margin-top: 30px;
}

.button a:hover {
    color: blue;
}

.other-amount-section h3 {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-align: center;
}

.other-amount-section hr {
    width: 50%;

}

.menu-section {
    margin-left: 37%;
    margin-top: 10rem;
}

#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#menu ul li {
    float: left;
    list-style-type: none;

}


#menu ul li a {
    text-decoration: none;
    border: 2px solid green;
    padding: 12px 20px;
    color: #181515;
    display: inline-block;
    text-transform: uppercase;
}

#menu ul li a:hover {
    color: rgb(63, 22, 243);

}

/* our-donate-plan-section */
.our-donate-plan-section {
    text-align: center;
}

.our-donate-plan-section h1 {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.our-donate-plan-section p {
    font-size: 20px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

/* food-shelter-education-area */
.food-shelter-education-3area {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    margin: 5rem;

}

.card {
    background-color: #464343;
    width: 270px;
    height: 400px;
    margin: 10px;
    border-radius: 15px;
}

.card-image {
    background-color: aqua;
    height: 170px;
    margin-bottom: 15px;
    background-size: cover;

}

.card-1 {
    background-image: url('images/index1.jpg');
}

.card-2 {
    background-image: url('images/index2.jpg');
}

.card-3 {
    background-image: url('images/index3.jpg');
}

.card h2 {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #ffffff;
}

.card p {
    font-size: 20px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #ffffff;
}

/* lives-depend */

.lives-depend {
    margin: 5rem;
    display: flex;
    justify-content: center;
}

.lives-card h2 {
    text-align: center;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.lives-card p {
    font-size: 20px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.lives-card button {
    text-align: center;
    margin-left: 24%;
    background: orange;
    padding: 12px;
    border-radius: 5px;
    font-size: 20px;
}

.lives-card button:hover {
    background-color: blue;
}

.lives-card img {
    width: 62%;
    margin-left: 30%;
    padding: 23px;
}

.lives-cards img {
    width: 62%;
    margin-left: 0;
    padding: 23px;
}

/* google-map */
#map {

    text-align: center;
    width: 100%;
    height: 500px;
}

/* get-my-update-area */
.get-my-update-area {
    text-align: center;
    margin: 5rem;
}

.get-my-update-area h1 {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.get-my-update-area p {
    font-size: 20px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.email-subscribe-area {
    background: #464343;
    text-align: center;
    margin: 5rem;
}

form {
    border: 4px solid #f1f1f1;
}

.container {
    padding: 20px;
    background-color: #1f1d1d;
}

input[type=text],
input[type=submit] {
    width: 50%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.footer-section {
    background: #181515;

}

.footer-title {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    padding: 30px;
}